/* # =================================================================
   # Browser Upgrade
   # ================================================================= */
/* Add generic styles to H5BP .browserupgrade - https://github.com/h5bp/html5-boilerplate/blob/master/dist/index.html#L18-L20 */
.browserupgrade {
  padding: 15px;
  text-align: center;
  color: #fff;
  background: #333; }

.browserupgrade a {
  text-decoration: none;
  color: #1e90ff;
  font-weight: bold; }

.browserupgrade a:hover {
  text-decoration: underline; }

/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

*,
::before,
::after {
  box-sizing: inherit; }

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit; }

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0; }

/* # =================================================================
   # General elements
   # ================================================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0; }

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  border: none;
  border-bottom: solid 1px grey; }

ol, ul {
  list-style: none; }

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */ }

[hidden],
template {
  display: none;
  /* Add the correct display in IE */ }

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */ }

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */ }

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */ }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */ }

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */ }

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */ }

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000; }

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
  outline: none; }

[type="number"] {
  width: auto;
  /* Firefox 36+ */ }

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */ }

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
  border-radius: 0;
  outline: none; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */ }

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */ }

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */ }

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0; }

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */ }

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */ }

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  border: solid 1px #666; }

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */ }

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */ }

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */ }

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */ }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */ }

/* Correct the text style of placeholders in Chrome, Edge, and Safari */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */ }

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */ }

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline; }

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */ }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */ }

/* # =================================================================
   # Acessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress; }

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer; }

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default; }

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #fff;
  text-shadow: none; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN-Light.eot");
  src: url("../fonts/DIN-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Light.woff") format("woff"), url("../fonts/DIN-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN.eot");
  src: url("../fonts/DIN.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN.woff") format("woff"), url("../fonts/DIN.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN-Medium.eot");
  src: url("../fonts/DIN-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Medium.woff") format("woff"), url("../fonts/DIN-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DINBold.eot");
  src: url("../fonts/DINBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINBold.woff") format("woff"), url("../fonts/DINBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'DIN';
  src: url("../fonts/DIN-Black.eot");
  src: url("../fonts/DIN-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN-Black.woff") format("woff"), url("../fonts/DIN-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

html {
  font-size: 16px;
  font-family: "Din";
  color: #666666;
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Din";
  color: #000000; }

a {
  font-family: "Din";
  color: #666666; }

body {
  line-height: 1.6; }
  body {
    font-size: 0.889rem; }
    @media screen and (min-width: 30rem) {
      body {
        font-size: calc(0.889rem + 0.111 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      body {
        font-size: 1rem; } }

p {
  margin-bottom: 25.6px; }

h1 {
  margin-bottom: 40.96px; }
  h1 {
    font-size: 2.986rem; }
    @media screen and (min-width: 30rem) {
      h1 {
        font-size: calc(2.986rem + 0.597 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h1 {
        font-size: 3.583rem; } }

h2 {
  margin-bottom: 38.4px; }
  h2 {
    font-size: 2.488rem; }
    @media screen and (min-width: 30rem) {
      h2 {
        font-size: calc(2.488rem + 0.498 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h2 {
        font-size: 2.986rem; } }

h3 {
  margin-bottom: 35.84px; }
  h3 {
    font-size: 2.074rem; }
    @media screen and (min-width: 30rem) {
      h3 {
        font-size: calc(2.074rem + 0.414 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h3 {
        font-size: 2.488rem; } }

h4 {
  margin-bottom: 33.28px; }
  h4 {
    font-size: 1.728rem; }
    @media screen and (min-width: 30rem) {
      h4 {
        font-size: calc(1.728rem + 0.346 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h4 {
        font-size: 2.074rem; } }

h4 {
  margin-bottom: 30.72px; }
  h4 {
    font-size: 1.44rem; }
    @media screen and (min-width: 30rem) {
      h4 {
        font-size: calc(1.44rem + 0.288 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h4 {
        font-size: 1.728rem; } }

h5 {
  margin-bottom: 28.16px; }
  h5 {
    font-size: 1.2rem; }
    @media screen and (min-width: 30rem) {
      h5 {
        font-size: calc(1.2rem + 0.24 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h5 {
        font-size: 1.44rem; } }

h6 {
  margin-bottom: 25.6px; }
  h6 {
    font-size: 1rem; }
    @media screen and (min-width: 30rem) {
      h6 {
        font-size: calc(1rem + 0.2 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h6 {
        font-size: 1.2rem; } }

hr {
  border-bottom: solid 3px #ffb400;
  max-width: 40%;
  margin-bottom: 38.4px; }

.button {
  display: inline-block;
  padding: .5rem 1.5rem;
  color: #fff;
  font-weight: bold;
  background: #2D6BA6;
  box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .button:hover {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
    background: #3278ba;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08); }

.nav {
  position: relative;
  width: 100%;
  z-index: 50;
  background-image: url("/assets/img/sky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.14); }
  .nav__content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 768px) {
      .nav__content {
        display: block;
        padding: 0 1rem; } }
  .nav__brand {
    position: absolute;
    top: 10px;
    display: block;
    width: 300px;
    padding: .5rem; }
    @media only screen and (max-width: 768px) {
      .nav__brand {
        position: relative;
        width: 200px; } }
    .nav__brand img {
      max-width: 100%; }
  .nav__navbar {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-linear-gradient(#343A40, #000000);
    background: linear-gradient(#343A40, #000000);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .nav__navbar li {
      position: relative;
      border-left: solid 1px #666666; }
      .nav__navbar li:last-of-type {
        border-right: solid 1px #666666; }
      .nav__navbar li a {
        display: block;
        color: #DDDDDD;
        text-transform: uppercase;
        font-weight: bold;
        padding: 1rem 1rem;
        -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
        transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1); }
        .nav__navbar li a:hover {
          color: #fff; }
    @media only screen and (max-width: 768px) {
      .nav__navbar {
        display: none; } }

.nav__socials {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0;
  margin-left: auto; }
  @media only screen and (max-width: 768px) {
    .nav__socials {
      display: none; } }
  .nav__socials li:first-of-type i {
    margin-right: .5rem; }
  .nav__socials li a {
    color: #ffffff;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5rem; }
    .nav__socials li a i {
      font-size: 1.5rem; }

.hero {
  background: #ffb400;
  background-image: url("/assets/img/header/bg.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 60vh;
  width: 100vw;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative; }
  .hero .ali {
    position: absolute;
    bottom: 0;
    left: -100px;
    max-height: 98%;
    z-index: 10; }
  .hero .swirls {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20; }
  .hero__image {
    width: calc(99.99% * 1/4 - (1rem - 1rem * 1/4)); }
    @media only screen and (max-width: 768px) {
      .hero__image {
        display: none; } }
    .hero__image img {
      margin-bottom: -20px; }
  .hero__description {
    width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
    position: absolute;
    top: 50%;
    right: 5%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url("/assets/img/hero-location.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: solid 3px #ffb400;
    padding: 2rem;
    max-width: 80%;
    margin-bottom: 1rem;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.14);
    z-index: 30; }
    .hero__description h4 {
      margin-bottom: 0;
      margin-top: 2rem;
      text-transform: uppercase;
      color: #ffffff;
      line-height: 0; }
    .hero__description p {
      color: #343A40;
      font-weight: bold;
      text-transform: uppercase; }
    @media only screen and (max-width: 768px) {
      .hero__description {
        max-width: 90%;
        width: 100%;
        padding: 1rem; }
        .hero__description h4 {
          line-height: 1; } }
  .hero__guarantee {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 60%; }
    @media only screen and (max-width: 768px) {
      .hero__guarantee {
        display: none; } }
    .hero__guarantee img {
      max-height: 150px; }
      @media only screen and (max-width: 768px) {
        .hero__guarantee img {
          max-height: 100px; } }
  .hero__content {
    max-width: 1200px;
    width: 1200px;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
    @media only screen and (max-width: 768px) {
      .hero__content {
        padding: 0 1rem; } }
    .hero__content h1,
    .hero__content h6 {
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 0; }
    .hero__content h1 {
      text-shadow: 1px 1px 3px rgba(52, 58, 64, 0.5);
      margin-bottom: -1rem; }
      @media only screen and (max-width: 768px) {
        .hero__content h1 {
          font-size: 2rem; } }
    .hero__content h6 {
      margin-bottom: 25.6px;
      text-shadow: 1px 1px 3px rgba(52, 58, 64, 0.5); }
    .hero__content .button {
      display: inline-block;
      padding: .5rem 1.5rem;
      color: #fff;
      font-weight: bold;
      background: #2D6BA6;
      box-shadow: 0 4px 6px 0 rgba(50, 50, 93, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
      border-radius: 3px;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      color: #ffffff;
      text-transform: uppercase; }
      .hero__content .button:hover {
        -webkit-transform: translateY(-2px);
                transform: translateY(-2px);
        background: #3278ba;
        box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08); }

.breadcrumbs {
  padding: .5rem 0;
  background: #212529; }
  .breadcrumbs ul {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -js-display: flex;
    display: flex; }
    @media only screen and (max-width: 768px) {
      .breadcrumbs ul {
        display: block;
        padding: 0 1rem; } }
    .breadcrumbs ul li:after {
      content: '/';
      margin: 0.5rem; }
    .breadcrumbs ul li:last-of-type:after {
      display: none; }
    .breadcrumbs ul a {
      color: #b3b3b3; }
    .breadcrumbs ul .active a {
      color: #ffb400; }

.page__title {
  background: #ffb400;
  padding: 1rem 0; }
  .page__title--content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media only screen and (max-width: 768px) {
      .page__title--content {
        display: block;
        padding: 0 1rem; } }
    .page__title--content h1 {
      color: #fff;
      margin: 0; }

.accordion__title {
  display: block;
  background: #F5F5F5;
  border: solid 1px #F5F5F5;
  padding: 1rem 2rem;
  font-family: "Din";
  font-weight: bold;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  cursor: pointer; }

.accordion .active {
  background: #ffffff; }

.accordion__content {
  padding: 2rem;
  border: solid 1px #F5F5F5;
  border-top: none; }

.tabs__nav {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px #DDDDDD; }
  @media only screen and (max-width: 768px) {
    .tabs__nav {
      display: none; } }
  .tabs__nav li {
    padding: .5rem 1rem;
    border: solid 1px #DDDDDD;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
    position: relative; }
    .tabs__nav li:after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: -1px;
      height: 1px;
      width: calc(100% + 2px);
      background: #ffb400;
      opacity: 0; }
    .tabs__nav li.active:after {
      opacity: 1; }
    .tabs__nav li:last-of-type {
      border-right: solid 1px #DDDDDD; }

.tabs__container {
  border: solid 1px #DDDDDD;
  border-top: none; }
  @media only screen and (max-width: 768px) {
    .tabs__container {
      border: none; } }

.tab__content {
  padding: 2rem; }
  @media only screen and (max-width: 768px) {
    .tab__content {
      border-left: solid 1px #DDDDDD;
      border-right: solid 1px #DDDDDD; } }

.tab__drawer {
  display: none;
  cursor: pointer;
  background: #F5F5F5;
  border: solid 1px #F5F5F5;
  padding: 1rem 2rem;
  font-family: "Din";
  font-weight: bold;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  margin: 0; }
  .tab__drawer {
    font-size: 0.889rem; }
    @media screen and (min-width: 30rem) {
      .tab__drawer {
        font-size: calc(0.889rem + 0.111 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      .tab__drawer {
        font-size: 1rem; } }
  .tab__drawer.active {
    background: #ffffff; }
  @media only screen and (max-width: 768px) {
    .tab__drawer {
      display: block; } }

.tab__service {
  border-bottom: solid 1px #DDDDDD;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25.6px; }
  @media only screen and (max-width: 768px) {
    .tab__service {
      display: block; } }

.tab__description {
  width: calc(99.99% * 3/4 - (30px - 30px * 3/4)); }
  @media only screen and (max-width: 768px) {
    .tab__description {
      width: 100%; } }
  .tab__description p {
    margin-bottom: 8.53333px; }

.tab__price {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 768px) {
    .tab__price {
      width: 100%; } }
  .tab__price h2 {
    text-align: center;
    line-height: 1;
    color: #666666; }
    .tab__price h2 span {
      font-size: 1rem;
      font-style: italic;
      line-height: 1;
      display: block; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.modal {
  position: fixed;
  z-index: 70;
  top: 50%;
  left: 50%;
  width: 60vw;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .modal__content {
    position: relative;
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 10px 18px 0 rgba(50, 50, 93, 0.2), 0 6px 9px 0 rgba(0, 0, 0, 0.14); }
  .modal__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }

.modal__trigger {
  display: inline-block;
  padding: .5rem 1.5rem;
  color: #fff;
  font-weight: bold;
  background: #ffb400;
  border-radius: 3px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  .modal__trigger:hover {
    background: #ffbc1a; }

.modal.is--open,
.overlay.is--open {
  opacity: 1;
  visibility: visible;
  pointer-events: all; }

.success,
.error {
  padding: .5rem 1rem;
  border-left: solid 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 12.8px;
  font-weight: bold; }

.success {
  background: #79da89; }

.error {
  background: #FA5252; }

.form-row {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem; }
  .form-row input {
    padding: .5rem;
    color: #9B9B9B;
    border: solid 1px #9B9B9B;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-right: 1rem; }
    .form-row input:focus {
      border-color: #ffb400; }
    .form-row input:last-of-type {
      margin-right: 0; }
  .form-row textarea {
    padding: .5rem;
    color: #9B9B9B;
    border: solid 1px #9B9B9B;
    width: 100%;
    height: 200px; }
    .form-row textarea:focus {
      border-color: #ffb400; }

.form .submit {
  outline: none;
  cursor: pointer; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

::-moz-selection {
  background: #ffb400;
  color: #fff; }

::selection {
  background: #ffb400;
  color: #fff; }

.menu__trigger {
  position: absolute;
  z-index: 90;
  top: 2rem;
  right: 0;
  padding: 1rem;
  display: none;
  cursor: pointer; }
  @media only screen and (max-width: 768px) {
    .menu__trigger {
      display: block; } }
  .menu__trigger span {
    display: block;
    height: 3px;
    width: 30px;
    margin-bottom: 5px;
    background: #ffffff;
    -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.menu__trigger.is--open span {
  background: #FA5252; }
  .menu__trigger.is--open span:first-of-type {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg); }
  .menu__trigger.is--open span:nth-of-type(2) {
    opacity: 0; }
  .menu__trigger.is--open span:last-of-type {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg); }

.menu {
  position: fixed;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 80;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .menu li a {
    font-size: 1.5rem;
    font-weight: bold; }

.menu.is--open {
  opacity: 1;
  visibility: visible;
  pointer-events: all; }

.hp-intro {
  padding-top: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center; }

@inlcude mq(m) {
  .hp-intro {
    padding: 0 2rem; } }

.hp-services {
  background-image: url("/assets/img/parallax-03.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding: 4rem 0; }

.service__cards {
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media only screen and (max-width: 768px) {
    .service__cards {
      display: block;
      padding: 0 1rem; } }

.card__container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  margin-right: 1rem;
  height: 300px;
  padding: 1rem;
  -webkit-perspective: 800px;
          perspective: 800px; }
  @media only screen and (max-width: 768px) {
    .card__container {
      width: 100%;
      margin-bottom: 2rem; } }

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  will-change: transform;
  @incude shadow(normal);
  cursor: pointer;
  border: solid 3px #ffb400; }
  .card figure {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background: #ffffff;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .card figure img {
      max-width: 90%; }
    .card figure p {
      max-width: 90%;
      text-align: center; }
  .card .back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  .card.flipped {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

.footer__services {
  padding: 1rem 0;
  background-color: #ffb400;
  background-image: url("/assets/img/footer-meta-pattern.png");
  background-repeat: repeat; }
  .footer__services--content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media only screen and (max-width: 768px) {
      .footer__services--content {
        display: block;
        padding: 0 1rem; } }
    @media only screen and (max-width: 768px) {
      .footer__services--content {
        -js-display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .footer__services--content .service {
      width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      color: #ffffff; }
      @media only screen and (max-width: 768px) {
        .footer__services--content .service {
          width: calc(99.99% * 1/2 - (30px - 30px * 1/2)); } }
      .footer__services--content .service a {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 85px;
        width: 85px;
        border-radius: 200px;
        background: #ffffff;
        margin-bottom: 1rem; }

.footer__cta {
  background: #2D6BA6;
  color: #ffffff;
  padding: 1rem 0; }
  @media only screen and (max-width: 768px) {
    .footer__cta {
      display: none; } }
  .footer__cta a {
    color: #ffffff; }
    .footer__cta a i {
      font-size: 1.5rem;
      background: #ffffff;
      height: 65px;
      width: 65px;
      -js-display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border: solid 10px #22517e;
      color: #2D6BA6;
      border-radius: 65px; }
  .footer__cta--content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 768px) {
      .footer__cta--content {
        display: block;
        padding: 0 1rem; } }
  .footer__cta div {
    height: 100px;
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 768px) {
      .footer__cta div {
        display: block; } }
    .footer__cta div:after {
      content: '';
      position: absolute;
      top: 0;
      right: -20%;
      height: 100%;
      width: 1px;
      background: #ffffff; }
    .footer__cta div:last-of-type:after {
      display: none; }
    .footer__cta div img {
      margin-right: 1rem; }
    .footer__cta div p {
      margin-bottom: 0; }
      .footer__cta div p a {
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold; }
    .footer__cta div ul {
      -js-display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer__cta div ul li {
        margin: 0 .3rem; }
    .footer__cta div:last-of-type {
      -js-display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media only screen and (max-width: 768px) {
        .footer__cta div:last-of-type {
          display: block; } }

.footer__navigation {
  padding: 2rem 0;
  background-image: url(/assets/img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .footer__navigation--content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    color: #ffffff; }
    @media only screen and (max-width: 768px) {
      .footer__navigation--content {
        display: block;
        padding: 0 1rem; } }
    .footer__navigation--content strong {
      color: #ffb400; }
    .footer__navigation--content h6 {
      color: #ffffff; }
    .footer__navigation--content a {
      color: #ffb400; }

.footer__navbar,
.footer__about,
.footer__service-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }
  @media only screen and (max-width: 768px) {
    .footer__navbar,
    .footer__about,
    .footer__service-nav {
      padding: 0 1rem; } }
  .footer__navbar a,
  .footer__about a,
  .footer__service-nav a {
    text-decoration: underline; }
  .footer__navbar ul,
  .footer__about ul,
  .footer__service-nav ul {
    list-style: disc; }

.footer__socials {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  text-align: right; }
  @media only screen and (max-width: 768px) {
    .footer__socials {
      text-align: left;
      margin-top: 1rem; } }
  .footer__socials p {
    margin-bottom: 0; }
  .footer__socials ul li {
    display: inline-block; }
  .footer__socials a {
    color: #ffffff;
    font-size: 1.5rem; }

.footer__copyright {
  background: #000000;
  padding: .5rem; }
  .footer__copyright--content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -js-display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    font-weight: bold;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media only screen and (max-width: 768px) {
      .footer__copyright--content {
        display: block;
        padding: 0 1rem; } }
  .footer__copyright a {
    color: #ffb400; }
  .footer__copyright p {
    margin-bottom: 0; }
  .footer__copyright ul {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer__copyright ul i {
      font-size: 2.5rem;
      margin-right: .5rem; }

.offpage {
  padding: 3rem 0;
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media only screen and (max-width: 768px) {
    .offpage {
      display: block;
      padding: 0 1rem; } }

.header {
  height: 250px;
  width: 100%;
  margin-bottom: 3rem; }
  .header img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.sidebar {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  text-align: center;
  margin-right: 2rem; }
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      margin-top: 2rem; } }
  .sidebar__nav {
    background: #000000;
    padding: 1rem;
    margin-bottom: 1rem; }
    .sidebar__nav li:last-of-type a {
      margin-bottom: 0; }
    .sidebar__nav a {
      display: block;
      background: #ffffff;
      padding: .5rem;
      font-weight: bold;
      -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      .sidebar__nav a:hover {
        background: #ffb400;
        color: #000000; }
  .sidebar a {
    display: block;
    margin-bottom: 1rem; }
  .sidebar img {
    max-width: 100%; }
    @media only screen and (max-width: 768px) {
      .sidebar img {
        display: none; } }

.content {
  width: calc(99.99% * 3/4 - (30px - 30px * 3/4)); }
  @media only screen and (max-width: 768px) {
    .content {
      width: 100%; } }

.service__description {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem; }
  @media only screen and (max-width: 768px) {
    .service__description {
      display: block; } }
  .service__description div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
    margin: 0 0.5rem;
    margin-right: 3rem; }
    @media only screen and (max-width: 768px) {
      .service__description div {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        max-width: 100%; } }
    .service__description div ul {
      list-style-type: disc; }

.service__content {
  width: calc(99.99% * 3/4 - (30px - 30px * 3/4));
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 768px) {
    .service__content {
      width: 100%; } }

.service__list,
.service__image {
  width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
  margin-right: 2rem; }
  @media only screen and (max-width: 768px) {
    .service__list,
    .service__image {
      width: 100%;
      padding: 01rem; } }
  .service__list ul,
  .service__image ul {
    list-style-type: disc; }
    .service__list ul ul,
    .service__image ul ul {
      margin-left: 2rem;
      list-style-type: circle; }

.service__image {
  height: 100%; }
  @media only screen and (max-width: 768px) {
    .service__image {
      display: none; } }
  .service__image img {
    -o-object-fit: contain;
       object-fit: contain; }

.testimonials {
  text-align: center; }
  .testimonials blockquote {
    outline: none; }
  .testimonials i {
    color: #ffb400; }

.slick-dots .slick-active button {
  background: #343A40; }

.slick-dots li {
  display: inline-block; }
  .slick-dots li button {
    border: none;
    height: 10px;
    width: 10px;
    background: #DDDDDD;
    border-radius: 50%;
    outline: none;
    margin: .2rem; }

.reviews blockquote {
  outline: none; }

.reviews i {
  color: #ffb400; }

.reviews hr {
  margin-top: 25.6px; }

.contact__details {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 768px) {
    .contact__details {
      display: block; } }
  .contact__details ul {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }

.contact__form {
  max-width: 100%;
  margin-top: 2rem;
  display: block; }
  .contact__form .form__input {
    width: calc(99.99% * 1/2 - (30px - 30px * 1/2));
    padding: .5rem;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 768px) {
      .contact__form .form__input {
        width: 100%; } }
    .contact__form .form__input:first-of-type {
      margin-right: 1rem; }
    .contact__form .form__input:nth-of-type(3) {
      margin-right: 1rem; }
  .contact__form textarea {
    width: 100%;
    padding: .5rem; }
  .contact__form input[type="submit"] {
    padding: .5rem 1.5rem;
    background: #2D6BA6;
    color: #ffffff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    @media only screen and (max-width: 768px) {
      .contact__form input[type="submit"] {
        margin-bottom: 2rem; } }
    .contact__form input[type="submit"]:hover {
      background: #ffb400; }

#map-canvas {
  margin-top: 2rem;
  height: 400px; }
  @media only screen and (max-width: 768px) {
    #map-canvas {
      margin-bottom: 2rem; } }

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#input {
  margin-top: 12px;
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  margin-left: 20px; }

#input:focus {
  border-color: #4d90fe; }

.submit {
  padding: .5rem 1.5rem;
  background: #2D6BA6;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  @media only screen and (max-width: 768px) {
    .submit {
      margin-bottom: 2rem; } }
  .submit:hover {
    background: #ffb400; }
    .mem-img {
      max-width: 100%;
    }
